<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>List of Departments</title>
</head>
<body>
<div class="w3-panel w3-blue" align="center">
    <h3 class="w3-text-orange" style="text-shadow:1px 1px 0 #444"  ><b>Departments</b></h3>
    <a th:href="@{/}" class="w3-text-white" >Main Menu</a>
</div>

<div align="center">

    <table border="1" cellpadding="5">
        <tr class="w3-light-grey">
            <th align="center">Id</th>
            <th align="center">Name</th>
            <th align="center">Action</th>
        </tr>
        <tr th:each="department: ${departments}">
            <td align="center" th:text="${department.id}"></td>
            <td align="center"th:text="${department.name}"></td>
            <td>

                <a th:href="@{/department/showFormForUpdate/{departmentId}(departmentId=${department.id})}"
                   class="w3-bar-item w3-button w3-aqua">Update</a>

                <a th:href="@{/department/delete/{departmentId}(departmentId=${department.id})}"
                   onclick="if (!(confirm('Are you sure you want to delete this department?'))) return false"
                   class="w3-bar-item w3-button w3-orange">Delete</a>
            </td>

        </tr>
    </table>
    <button class="w3-btn w3-grey w3-round-medium"
            onclick="window.location.href='showFormForAdd'; return false;">add new department</button>

</div>
</body>
</html>