<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Spring MVC CRUD App</title>
</head>
<body  th:style="'background: url(/img/happy_employees_at_work.jpg) no-repeat center fixed; background-color: #02b4b8;'">

<div class="w3-container w3-margin">
    <form th:action="@{/logout}" method="post">
        <button class="w3-btn w3-yellow w3-round-medium" type="submit">Sign Out</button>
    </form>
</div>
<div align="center">

    <h1 class="w3-text-white" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <div>
    </div>
    <!--<h3 class="w3-text-white"  style="text-shadow:1px 1px 0 #444">
        User: <span sec:authentication="name">NOT FOUND</span>
    </h3>-->
</div>

<div class="w3-container w3-margin">
    <h4 class="w3-text-white"  style="text-shadow:1px 1px 0 #444">
        Spring Roles: <span sec:authentication="principal.authorities">
            NOT FOUND</span>
    </h4>
</div>

<div class="w3-bar">
    <h3 class=" w3-bar-item w3-text-yellow" style="text-shadow:1px 1px 0 #444">
        <a th:href="@{/department/list}">Departments</a>
    </h3>
    <h3 class=" w3-bar-item w3-text-yellow" style="text-shadow:1px 1px 0 #444">
        <a th:href="@{/employee/list}">Employees</a>
    </h3>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h3 class=" w3-bar-item w3-text-yellow" style="text-shadow:1px 1px 0 #444">
            <a th:href="@{/user/list}">Users</a>
        </h3>
    </div>

</div>
</body>

</html>