<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>User's List</title>
</head>
<body>


<div class="w3-panel w3-blue" align="center">
    <h3 class="w3-text-orange" style="text-shadow:1px 1px 0 #444"  ><b>Employees</b></h3>
    <a th:href="@{/main}" class="w3-text-white" >Main Menu</a>
    <div>
        <h3 class="w3-text-white"  style="text-shadow:1px 1px 0 #444">
            User: <span sec:authentication="name">NOT FOUND</span>
        </h3>
        <h4 class="w3-text-white"  style="text-shadow:1px 1px 0 #444">
            Spring Roles: <span sec:authentication="principal.authorities">
            NOT FOUND</span>
        </h4>
    </div>
</div>
<div align="center">

    <table border="1" cellpadding="5">
        <tr class="w3-light-grey">
            <th align="center">Id</th>
            <th align="center">Name</th>
            <th align="center">Role</th>
            <th align="center">Action</th>
        </tr>
        <tr th:each="user: ${users}">
            <td align="center" th:text="${user.id}"></td>
            <td align="center"th:text="${user.username}"></td>

            <td align="center"th:text="${user.role.getName()}"></td>

            <td>
                <a th:href="@{/user/showFormForUpdate/{userId}(userId=${user.id})}"
                   class="w3-bar-item w3-button w3-aqua">Update</a>
                <a th:href="@{/user/delete/{userId}(userId=${user.id})}"
                   onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false"
                   class="w3-bar-item w3-button w3-orange">Delete</a>
            </td>

        </tr>
    </table>
    <button class="w3-btn w3-grey w3-round-medium"
            onclick="window.location.href='showFormForAdd'; return false;">add new user</button>
</div>

</body>
</html>