<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>User Form</title>
</head>
<body>
<div th:if = "${user.id ==null}" align="center">
    <form th:action="@{/user/saveUser}" th:object="${user}" method="POST">

        <table border="1" cellpadding="10">
            <caption><h3>Save employee</h3></caption>
            <tr>
                <th>Id of employee:</th>
                <td><input type="text" th:field="*{id}" th:readonly="true"/></td>
            </tr>
            <tr>
                <th>Username:</th>
                <td><input type="text" th:field="*{username}" /></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="text" th:field="*{password}" /></td>
            </tr>
            <tr>
                <th>Role:</th>
                <td><select th:field="*{role}">
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role.name}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button class="w3-btn w3-deep-purple w3-round-medium" type="submit">save</button>
                </td>
            </tr>
        </table>

    </form>
</div>

<div th:if = "${user.id != null}" align="center">
    <form th:action="@{/user/updateUser}" th:object="${user}" method="POST">

        <table border="1" cellpadding="10">
            <caption><h3>Save employee</h3></caption>
            <tr>
                <th>Id of employee:</th>
                <td><input type="text" th:field="*{id}" th:readonly="true"/></td>
            </tr>
            <tr>
                <th>Username:</th>
                <td><input type="text" th:field="*{username}" th:readonly="true"/></td>
            </tr>
            <tr hidden>
                <th>Password:</th>
                <td><input type="text" th:field="*{password}" /></td>
            </tr>
            <tr>
                <th>Role:</th>
                <td><select th:field="*{role}">
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role.name}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button class="w3-btn w3-deep-purple w3-round-medium" type="submit">update</button>
                </td>
            </tr>
        </table>

    </form>
</div>

</body>
</html>